<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>jspProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>hundred-servlet</servlet-name>
  	<servlet-class>ch01.HundredServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>hundred-servlet</servlet-name>
  	<url-pattern>/hundred</url-pattern>
  </servlet-mapping>
  
   <servlet>
  	<servlet-name>add-servlet</servlet-name>
  	<servlet-class>ch02.AdderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>add-servlet</servlet-name>
  	<url-pattern>/adder</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>bbs-post-servlet</servlet-name>
  	<servlet-class>ch02.BBSPostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>bbs-post-servlet</servlet-name>
  	<url-pattern>/bbs-post</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>personal-info-servlet</servlet-name>
  	<servlet-class>ch02.PersonalInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>personal-info-servlet</servlet-name>
  	<url-pattern>/pinfo-result</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>animal-servlet</servlet-name>
  	<servlet-class>ch04.AnimalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>animal-servlet</servlet-name>
  	<url-pattern>/animal</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>result-servlet</servlet-name>
  	<servlet-class>ch04.ResultServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>result-servlet</servlet-name>
  	<url-pattern>/result</url-pattern>
  </servlet-mapping>
  
  <error-page>
  	<exception-type>java.lang.NumberFormatErrorException</exception-type>
  	<location>/ch05/NumberFormatError.jsp</location>
  </error-page>
  
  <error-page>
  	<exception-type>java.lang.ArithmeticErrorException</exception-type>
  	<location>/ch05/ArithmeticError.jsp</location>
  </error-page>
  
  <error-page>
  	<error-code>404</error-code>
  	<location>/ch05/NotFoundError.jsp</location>
  </error-page>
  
  <error-page>
  	<error-code>500</error-code>
  	<location>/ch05/ServerInternalError.jsp</location>
  </error-page>
  
  
</web-app>